<div class="bg-white shadow rounded overflow-hidden">

    <table class="w-full text-sm">

        <thead class="bg-gray-100">
            <tr>
                {% for col in columns %}
                    <th class="p-3 text-left">{{ col|title }}</th>
                {% endfor %}
                <th class="p-3 text-center">Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for row in rows %}
            <tr class="border-t hover:bg-gray-50">

                {% for value in row.values %}
                    <td class="p-3">{{ value }}</td>
                {% endfor %}

                <td class="p-3 text-center space-x-2">
                    {% if entity %}
                        <a href="{% url 'core:update' entity row.id %}">✏️</a>
                        <a href="{% url 'core:delete' entity row.id %}">🗑</a>
                    {% endif %}
                </td>

            </tr>
            {% endfor %}
        </tbody>

    </table>

</div>
